<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Admin</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/adminStyle.css' %}"/>
    <link rel="icon" type="image/png" href="{% static 'images/favi.png' %}" />
</head>
<body>
<h1>Admin</h1>
<p>Landing page for admin users</p>
<ul>
    <li><a href="{% url 'F1' %}">F1. Roster</a></li>
    <li><a href="{% url 'F2' %}">F2. Salary</a></li>
    <li><a href="{% url 'F3' %}">F3. Performance</a></li>
</ul>

</body>
</html>