<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" href="/static/style.css">
        <link rel="icon" type="image/png" href="/static/favi.png" />
    </head>
    <body>
        <div class="Main">
            <div class="landing-flex">
                <div class="inner">
                    <a href="/admin"><button class="button" id="item" role="button" onclick="/admin">Admin</button></a>
                    <a href="/professor"><button class="button" id="item" role="button">Professor</button></a>
                    <a href="/student"><button class="button" id="item" role="button">Student</button></a>
                </div>
            </div>
        </div>
    </body>
</html>