<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Login</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/style.css' %}"/>
    <link rel="icon" type="image/png" href="{% static 'images/favi.png' %}" />
</head>
    <body>
        <div class="Main">
            <div class="landing-flex">
               <div class="input">
                    <form action="{% url 'login' %}" method='POST'>
                        <label for="user" class="form-label">Enter Username and Password</label>
                        <input type="text" name="user" placeholder="Username" required>
                        
                        <input class="form-input" placeholder="Password" type="password" name="pass" required>
                        <button type="submit" class="button">Login</button>
                    </form>
                    {% if error %}
                    <h3><strong id="alert">Wrong username or password!</strong></h3>
                    {% endif %}
                </div>
            </div>
        </div>
    </body>
</html>