<!DOCTYPE html>
<html lang="en">
{% if group == 3 %}
<head>
    <meta charset="UTF-8">
    <title>Home</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/generalStyle.css' %}"/>
    <link rel="icon" type="image/png" href="{% static 'images/favi.png' %}" />
</head>
<body>
    <h1>Student</h1>
    <p>Landing page for student users</p>
    <ul>
        <li><a href="{% url 'F6' %}"><button class="button" id="item" role="button">F6: Course's Offered</button></a></li>
    </ul>

</body>
{% else %}
    <head>
        <meta charset="UTF-8">
        <title>Permission Denied</title>
        {% load static %}
        <link rel="stylesheet" href="{% static 'css/alert.css' %}"/>
        <link rel="icon" type="image/png" href="{% static 'images/favi.png' %}" />
    </head>
    <body>
        <div class="container">
            <div class="alert">
                <strong>Access Denied!</strong> You do not have permission to access this page.
            </div>
            <a href="{% if group == 1%} {% url 'admin' %} {% elif group == 2 %} {%url 'professor'%} {% else %} {% url 'index' %}{% endif %}" class="button">Return Home</a>
        </div>
    </body>
{% endif %}
</html>