<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>F1. Roster</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/adminStyle.css' %}"/>
    <link rel="icon" type="image/png" href="{% static 'images/favi.png' %}" />
</head>
<body>
<h1>List Professors</h1>
<!-- TODO add form action -->
<form action=" ">
    <p>Order by</p>
    <div class="radio-group">
        <input type="radio" id="name_btn" name="order" value="name">
        <label for="name_btn">Name</label>
        <input type="radio" id="dept_btn" name="order" value="department">
        <label for="dept_btn">Department</label>
        <input type="radio" id="sal_btn" name="order" value="salary">
        <label for="sal_btn">Salary</label>
    </div><br>
    <p>Ascending or Descending</p>
    <div class="radio-group">
        <input type="radio" id="asc_btn" name="asc_desc" value="asc">
        <label for="asc_btn">Ascending</label>
        <input type="radio" id="desc_btn" name="asc_desc" value="desc">
        <label for="desc_btn">Descending</label>
    </div><br>
    <input type="submit" value="Submit">
</form>
</body>
</html>