<!DOCTYPE html>
<html lang="en">
{% if group == 1 %}
<head>
    <meta charset="UTF-8">
    <title>F1. Roster</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/generalStyle.css' %}"/>
    <link rel="icon" type="image/png" href="{% static 'images/favi.png' %}" />
</head>
<body>
<h1>List Professors</h1>
<form action="{% url 'list_instructors' %}" method="post">
    <p>Order by</p>
    <div class="radio-group">
        <input type="radio" id="name_btn" name="order" value="name">
        <label for="name_btn">Name</label>
        <input type="radio" id="dept_btn" name="order" value="dept_name">
        <label for="dept_btn">Department</label>
        <input type="radio" id="sal_btn" name="order" value="salary">
        <label for="sal_btn">Salary</label>
    </div><br>
    <p>Ascending or Descending</p>
    <div class="radio-group">
        <input type="radio" id="asc_btn" name="asc_desc" value="asc">
        <label for="asc_btn">Ascending</label>
        <input type="radio" id="desc_btn" name="asc_desc" value="desc">
        <label for="desc_btn">Descending</label>
    </div>
    <input type="submit" value="Submit">
</form>
</body>
{% else %}
    <head>
        <meta charset="UTF-8">
        <title>Permission Denied</title>
        {% load static %}
        <link rel="stylesheet" href="{% static 'css/alert.css' %}"/>
        <link rel="icon" type="image/png" href="{% static 'images/favi.png' %}" />
    </head>
    <body>
        <div class="container">
            <div class="alert">
                <strong>Access Denied!</strong> You do not have permission to access this page.
            </div>
            <a href="{% if group == 2%} {% url 'professor' %} {% elif group == 3%} {%url 'student'%} {% else %} {% url 'index' %}{% endif %}" class="button">Return Home</a>
        </div>
    </body>
{% endif %}
</html>