<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>F2</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/generalStyle.css' %}"/>
    <link rel="icon" type="image/png" href="{% static 'images/favi.png' %}" />
</head>
<body>
<h1>min/max/average salary of department</h1>
<p>Leave blank for all departments</p>
<form action="{% url 'dept_stats' %}" method="post">
  <label for="dept">department</label>
  <input type="text" id="dept" name="department"><br><br>
  <input type="submit" value="Submit">
</form>

</body>
</html>