<!DOCTYPE html>
<html lang="en">
{% if group == 1 %}
<head>
    <meta charset="UTF-8">
    <title>Department Stats</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/tableStyle.css' %}"/>
    <link rel="icon" type="image/png" href="{% static 'images/favi.png' %}" />
</head>
<body>
    <div class="container">
        <table class="responsive-table">
            <caption>Department Stats</caption>
            <thead>
                <tr>
                    <th scope="col">Department</th>
                    <th scope="col">Min Salary</th>
                    <th scope="col">Max Salary</th>
                    <th scope="col">Average Salary</th>
                </tr>
            </thead>
            <tbody>
                {% for r in rows %}
                <tr>
                    <td scope="row" data-title="Department">{{ r.dept_name }}</td>
                    <td data-title="Min Salary">{{ r.min }}</td>
                    <td data-title="Max Salary">{{ r.max }}</td>
                    <td data-title="Average Salary">{{ r.average }}</td>
                </tr>
                {% empty %}
                <tr>
                    <td colspan="4">No department found.</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
<div class="pagination">
        {% if page_obj.has_previous %}
            <a href="?page=1">&laquo; First</a>
            <a href="?page={{ page_obj.previous_page_number }}">Previous</a>
        {% endif %}
        <span class="current">Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}.</span>
    {% if page_obj.has_next %}
        <a href="?page={{ page_obj.next_page_number }}">Next</a>
        <a href="?page={{ page_obj.paginator.num_pages }}">Last &raquo;</a>
    {% endif %}
</div>
</body>
{% else %}
    <div class="alert">
        <strong>Access Denied!</strong> You do not have permission to access this page.
    </div>
    <a href="{% url 'F1' %}" class="button">Return to F1</a> 
{% endif %}
    </body>
</html>