<!DOCTYPE html>
<html lang="en">
{% if group == 1 %}
<head>
    <meta charset="UTF-8">
    <title>Department Stats</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/tableStyle.css' %}"/>
    <link rel="icon" type="image/png" href="{% static 'images/favi.png' %}" />
</head>
<body>
    <div class="container">
        <table class="responsive-table">
            <caption>Department Stats</caption>
            <thead>
                <tr>
                    <th scope="col">Department</th>
                    <th scope="col">Min Salary</th>
                    <th scope="col">Max Salary</th>
                    <th scope="col">Average Salary</th>
                </tr>
            </thead>
            <tbody>
                {% for r in rows %}
                <tr>
                    <td scope="row" data-title="Department">{{ r.dept_name }}</td>
                    <td data-title="Min Salary">{{ r.min }}</td>
                    <td data-title="Max Salary">{{ r.max }}</td>
                    <td data-title="Average Salary">{{ r.average }}</td>
                </tr>
                {% empty %}
                <tr>
                    <td colspan="4">No department found.</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</body>
{% else %}
    <head>
        <meta charset="UTF-8">
        <title>Permission Denied</title>
        {% load static %}
        <link rel="stylesheet" href="{% static 'css/alert.css' %}"/>
        <link rel="icon" type="image/png" href="{% static 'images/favi.png' %}" />
    </head>
    <body>
        <div class="container">
            <div class="alert">
                <strong>Access Denied!</strong> You do not have permission to access this page.
            </div>
            <a href="{% if group == 2%} {% url 'professor' %} {% elif group == 3%} {%url 'student'%} {% else %} {% url 'index' %}{% endif %}" class="button">Return Home</a>
        </div>
    </body>
{% endif %}
</html>