<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>F3. Performance</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/generalStyle.css' %}"/>
    <link rel="icon" type="image/png" href="{% static 'images/favi.png' %}" />
</head>
<body>
<div>
    <h1>Professor Performance</h1>
    <p>Will Return</p>
    <ol>
        <li>The number of course sections taught during the semester</li>
        <li>The Number of students taught</li>
        <li>Amount of research funding obtained</li>
        <li>Amount of papers the professor has published.</li>
    </ol>
</div>
<div>
    <form action="{% url 'prof_stats' %}" method="post">
        <label for="name_text">Professor Name</label>
        <input type="text" id="name_text" name="prof_name">
        <label for="year_text">Year</label>
        <input type="number" id="year_text" name="year">
        <div class="radio-group">
            <input type="radio" id="fa_btn" name="semester" value="1">
            <label for="fa_btn">Fall semester</label>
            <input type="radio" id="sp_btn" name="semester" value="2">
            <label for="sp_btn">Spring semester</label>
        </div>
        <input type="submit" value="Submit">
    </form>
</div>
</body>
</html>