<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Professor Stats</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/tableStyle.css' %}"/>
    <link rel="icon" type="image/png" href="{% static 'images/favi.png' %}" />
</head>
<body>
    <div class="container">
    <table class="responsive-table">
    <caption>Professor Performance</caption>
        <thead>
            <tr>
                <th>Course Sections Taught</th>
                <th>Number of Students Taught</th>
                <th>Funding Secured</th>
                <th>Papers Published</th>
            </tr>
        </thead>
        <tbody>
            {% for r in rows %}
            <tr>
               <td scope="row" data-title="Sections Taught">{{ r.Sections_taught }}</td>
                <td data-title="Students Taught">{{ r.Students_taught }}</td>
                <td data-title="Amount of Funding">{{ r.amount_of_funding }}</td>
                <td data-title="Number of Publications">{{ r.publications }}</td>
            </tr>
            {% empty %}
            <tr>
                <td colspan="4">No data found.</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
    </div>
</body>
</html>

