<!DOCTYPE html>
<html lang="en">
{% if group <= 2%}
<head>
    <meta charset="UTF-8">
    <title>List Sections</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/tableStyle.css' %}"/>
    <link rel="icon" type="image/png" href="{% static 'images/favi.png' %}" />
</head>
<body>
    <div class="container">
    <table class="responsive-table">
    <caption>Course Sections</caption>
        <thead>
            <tr>
                <th>Course number</th>
                <th>Section number</th>
                <th># Students</th>
            </tr>
        </thead>
        <tbody>
            {% for r in rows %}
            <tr>
               <td scope="row" data-title="Course Number">{{ r.course_id }}</td>
                <td data-title="Section Number">{{ r.sec_id }}</td>
                <td data-title="# Students">{{ r.student_count }}</td>
            </tr>
            {% empty %}
            <tr>
                <td colspan="3">No data found.</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
    </div>
</body>
</html>
{% else %}
    <head>
        <meta charset="UTF-8">
        <title>Permission Denied</title>
        {% load static %}
        <link rel="stylesheet" href="{% static 'css/alert.css' %}"/>
        <link rel="icon" type="image/png" href="{% static 'images/favi.png' %}" />
    </head>
    <body>
        <div class="container">
            <div class="alert">
                <strong>Access Denied!</strong> You do not have permission to access this page.
            </div>
            <a href="{% if group == 1%} {% url 'admin' %} {% elif group == 3%} {%url 'student'%} {% else %} {% url 'index' %}{% endif %}" class="button">Return Home</a>
        </div>
    </body>
{% endif %}
</html>
