<!DOCTYPE html>
<html lang="en">
{% if group == 2%}
<head>
    <meta charset="UTF-8">
    <title>List Students</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/tableStyle.css' %}"/>
    <link rel="icon" type="image/png" href="{% static 'images/favi.png' %}" />
</head>
<body>
    <div class="container">
    <table class="responsive-table">
    <caption>Students in Course</caption>
        <thead>
            <tr>
                <th>Name</th>
                <th>Student ID</th>
                <th>Grade</th>
            </tr>
        </thead>
        <tbody>
            {% for r in rows %}
            <tr>
               <td scope="row" data-title="Name">{{ r.name }}</td>
                <td data-title="Student ID">{{ r.student_id }}</td>
                 <td data-title="Grade">{{ r.grade }}</td>
            </tr>
            {% empty %}
            <tr>
                <td colspan="3">No data found.</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
    </div>
</body>
{% else %}
    <head>
        <meta charset="UTF-8">
        <title>Permission Denied</title>
        {% load static %}
        <link rel="stylesheet" href="{% static 'css/alert.css' %}"/>
        <link rel="icon" type="image/png" href="{% static 'images/favi.png' %}" />
    </head>
    <body>
        <div class="container">
            <div class="alert">
                <strong>Access Denied!</strong> You do not have permission to access this page.
            </div>
            <a href="{% if group == 1%} {% url 'admin' %} {% elif group == 3%} {%url 'student'%} {% else %} {% url 'index' %}{% endif %}" class="button">Return Home</a>
        </div>
    </body>
{% endif %}
</html>

